<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
</head>
<body>
    <nav>
        {% if user.user_type == 'JOB_SEEKER'%}
            <a href="{% url 'seekerdash' %}">Home</a><br>
            <a href="{% url 'seekerlogout' %}">Logout</a><br><br>
        {% else %}
            <a href="{% url 'regemp' %}">Home</a><br>
            <a href="{% url 'emplogout' %}">Logout</a><br><br>
        {% endif %}      
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>